<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DashBoard Test Security</title>
</head>
<body>
	<div>
		<h1>DashBoard</h1>
	</div>
	<div>
		<h3>List Pages</h3>
	</div>
	<div>
		<ul>
			<li th:each="menu :${menuPaginas.entrySet()}">
				<div>
					<label th:text="${menu.getKey()}"></label>
					<ul>
						<li th:each="paginas :${menu.getValue()}">
							<a th:href="${paginas.url}" th:text="${paginas.label}"></a>
						</li>
					</ul>
				</div>
			</li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div>
</body>
</html>