<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layouts :: head(titlePage='Login')">
	<meta charset="ISO-8859-1">
	<title>Login Test Security</title>
</head>
<body>
	<header th:replace="fragments/layouts :: header-login(titlePage='Security')"></header>

	<main class="container">
		<div class="col s12 m9 offset-m2">
			<div class="card">
				<div class="card-title center">
					<h4>Login</h4>
				</div>
				<div class="card-content">
					<div class="row">
						<form class="col s12 offset-m2" th:action="@{/login}" method="post">
							<div class="row">
								<div class="input-field col s12 m9">
									<input type="text" id="username" name="username" value="">
									<label for="username">User Name o Email</label>
								</div>
								<div class="input-field col s12 m9">
									<input type="password" id="password" name="password" value=""><br>
									<label for="password">Password</label>
								</div>
								<div class="input-field col s12 m9">
									<input type="submit" name="button" class="btn" value="Start">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="fragments/layouts :: footer"></footer>
</body>
</html>